#banner {
    background-color: maroon;
    color: white;
    padding-bottom: 20px;
    height: 200px;
    text-align: center;
}

.title {
    margin: 0 0 0 0;
}


h1 {
    margin: 0px;
    line-height: 100px;
}

body {
    margin: 0px;
    background-color: rgb(219, 219, 219);
}

ul.header {
    list-style-type: none;
}

li.nav {
    padding: 10px;
    display: inline-block;
}

#navBar {
    text-align: center;
    display: inline;
}

a {
    text-decoration: none;
    color: darkgreen;
}

h2 {
    padding-left: 5px;
    text-align: center;
}

ul.square {
    list-style-position: inside;
    padding-left: 20px;
    padding-right: 20px;
    list-style-type: square;
    text-align: center;
}

.italicFont {
    font-style: italic;
}

.bodyText {
    color: #5b120c;
    padding-left: 20px;
    padding-right: 20px;
    text-align:center
}

#copyright {
    width: 100%;
    text-align: center;
    bottom: 0;
    position: fixed
}